In [2]:
import numpy as np
import pandas as pd

In [34]:
orders = pd.read_csv('data/orders.csv', index_col=0)
returns = pd.read_csv('data/returns.csv', index_col=0)

In [10]:
orders

,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,...,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority
Row.ID,,,,,,,,,,,,,,,,,,,,,
40098,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.770,High
26341,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,-$288.77,923.630,Critical
25330,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.490,Medium
13524,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,-$96.54,910.160,Medium
47221,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29002,IN-2015-KE1642066-42174,6/19/15,6/19/15,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",$65.10,5,0.0,$4.50,1.010,Medium
34337,US-2014-ZD21925140-41765,5/6/14,5/10/14,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",$16.72,5,0.2,$3.34,1.930,High
31315,CA-2012-ZD21925140-41147,8/26/12,8/31/12,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,...,OFF-AR-5321,Office Supplies,Art,Newell 341,$8.56,2,0.0,$2.48,1.580,High
9596,MX-2013-RB1979518-41322,2/17/13,2/21/13,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",$13.44,2,0.0,$2.40,1.003,Medium
6147,MX-2013-MC1810093-41416,5/22/13,5/26/13,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",$61.38,3,0.0,$1.80,1.002,High

In [35]:
returns = returns.reset_index()
returns

     Returned                  Order ID           Region
0         Yes  CA-2012-SA20830140-41210       Central US
1         Yes  IN-2012-PB19210127-41259     Eastern Asia
2         Yes  CA-2012-SC20095140-41174       Central US
3         Yes    IN-2015-JH158207-42140          Oceania
4         Yes    IN-2014-LC168857-41747          Oceania
...       ...                       ...              ...
1074      Yes   IN-2014-DA1345058-41769    Southern Asia
1075      Yes  US-2013-HG14845140-41530       Eastern US
1076      Yes   US-2013-SJ2021582-41543  Central America
1077      Yes  CA-2015-EB13870140-42269       Eastern US
1078      Yes    EG-2014-PM894038-41846     North Africa

[1079 rows x 3 columns]

# Question 3
## Part 1

In [36]:
orders['Profit'] = orders.Profit.apply(lambda x: x.replace('$','')).apply(lambda x: x.replace(',','')).astype(float)

In [37]:
orders['Sales'] = orders.Sales.apply(lambda x: x.replace('$','')).apply(lambda x: x.replace(',','')).astype(float)

In [38]:
orders

,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,...,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority
Row.ID,,,,,,,,,,,,,,,,,,,,,
40098,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.98,2,0.0,62.15,40.770,High
26341,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.630,Critical
25330,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.490,Medium
13524,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.160,Medium
47221,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29002,IN-2015-KE1642066-42174,6/19/15,6/19/15,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.10,5,0.0,4.50,1.010,Medium
34337,US-2014-ZD21925140-41765,5/6/14,5/10/14,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High
31315,CA-2012-ZD21925140-41147,8/26/12,8/31/12,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,...,OFF-AR-5321,Office Supplies,Art,Newell 341,8.56,2,0.0,2.48,1.580,High
9596,MX-2013-RB1979518-41322,2/17/13,2/21/13,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium
6147,MX-2013-MC1810093-41416,5/22/13,5/26/13,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High

In [39]:
combined = pd.merge(orders, returns, how = 'left', left_on='Order.ID', right_on = 'Order ID')
combined

,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,...,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority,Returned,Order ID,Region_y
0,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,...,Samsung Convoy 3,221.98,2,0.0,62.15,40.770,High,NaN,NaN,NaN
1,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,...,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.630,Critical,NaN,NaN,NaN
2,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,...,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.490,Medium,NaN,NaN,NaN
3,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,...,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.160,Medium,NaN,NaN,NaN
4,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,...,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.040,Critical,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,IN-2015-KE1642066-42174,6/19/15,6/19/15,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,...,"Advantus Thumb Tacks, 12 Pack",65.10,5,0.0,4.50,1.010,Medium,NaN,NaN,NaN
51286,US-2014-ZD21925140-41765,5/6/14,5/10/14,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,...,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High,NaN,NaN,NaN
51287,CA-2012-ZD21925140-41147,8/26/12,8/31/12,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,...,Newell 341,8.56,2,0.0,2.48,1.580,High,NaN,NaN,NaN
51288,MX-2013-RB1979518-41322,2/17/13,2/21/13,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,...,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium,NaN,NaN,NaN
51289,MX-2013-MC1810093-41416,5/22/13,5/26/13,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,...,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High,NaN,NaN,NaN

In [46]:
combined[~combined.Returned.isnull()]['Profit'].sum()

61370.75

## Part 2

In [58]:
return_vals = combined[~combined.Returned.isnull()]
customer_returns = return_vals['Customer.ID'].value_counts()
customer_returns[customer_returns > 1]

PO-1885082      13
JK-1609027      11
TB-2140066      10
MY-1829582      10
SG-200801404     9
                ..
SK-1999082       2
GK-146201404     2
LW-169901404     2
JK-152051408     2
HM-148601404     2
Name: Customer.ID, Length: 547, dtype: int64

In [59]:
customer_returns[customer_returns > 5]

PO-1885082      13
JK-1609027      11
TB-2140066      10
MY-1829582      10
SG-200801404     9
KH-165101404     9
SN-1056095       8
SS-2059059       8
PB-19210127      8
AJ-1096031       8
JP-1552045       8
HD-1478598       8
BM-1114055       7
JE-1561097       7
SC-202301404     7
DH-130751404     7
BT-1139564       7
AT-1073545       7
GK-14620101      7
DL-12925101      7
CS-1845134       7
TC-2114555       7
GT-147101404     7
ES-1408018       7
EH-137651404     7
BP-110951404     7
NC-185351404     6
AG-675117        6
Dp-1324082       6
SC-2080059       6
AM-10705120      6
BF-111701404     6
LC-168701408     6
DG-1330093       6
DW-1358531       6
BB-1154548       6
AB-60086         6
LS-1697518       6
KH-1669045       6
NS-185051402     6
MR-1754564       6
MG-17890139      6
DB-13555139      6
PO-1885048       6
JP-155205        6
AB-1016545       6
Name: Customer.ID, dtype: int64

## Part 3

In [72]:
region_returns = combined.groupby('Region_x')['Order.ID', 'Returned'].agg('count')
region_returns['ratio'] = (region_returns['Returned'] / region_returns['Order.ID'])
region_returns.sort_values('ratio', ascending = False)

<ipython-input-72-b12c7ae683b8>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  region_returns = combined.groupby('Region_x')['Order.ID', 'Returned'].agg('count')

                   Order.ID  Returned     ratio
Region_x
Western US             3203       177  0.055261
Eastern Asia           2374       131  0.055181
Southern Europe        2113       112  0.053005
Southern Africa         478        25  0.052301
Southern US            1620        83  0.051235
Eastern US             2848       134  0.047051
Southeastern Asia      3129       140  0.044743
South America          2988       133  0.044511
Western Asia           2440       108  0.044262
Oceania                3487       154  0.044164
Central America        5616       248  0.044160
Southern Asia          2655       111  0.041808
Central Asia            217         9  0.041475
Western Africa         1460        60  0.041096
Caribbean              1690        69  0.040828
North Africa           1278        51  0.039906
Western Europe         5883       233  0.039606
Canada                  384        15  0.039062
Northern Europe        2204        76  0.034483
Central US             2323        74  0.031855
Eastern Europe         1529        42  0.027469
Central Africa          643        17  0.026439
Eastern Africa          728        18  0.024725

## Part 4

In [76]:
cat_returns = combined.groupby('Category')['Order.ID', 'Returned'].agg('count')
cat_returns['ratio'] = (cat_returns['Returned'] / cat_returns['Order.ID'])
cat_returns.sort_values('ratio', ascending = False)

<ipython-input-76-708aaedede41>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cat_returns = combined.groupby('Category')['Order.ID', 'Returned'].agg('count')

                 Order.ID  Returned     ratio
Category
Technology          10141       445  0.043881
Furniture            9860       427  0.043306
Office Supplies     31289      1348  0.043082

In [86]:
combined.columns

Index(['Order.ID', 'Order.Date', 'Ship.Date', 'Ship.Mode', 'Customer.ID',
       'Customer.Name', 'Segment', 'Postal.Code', 'City', 'State', 'Country',
       'Region_x', 'Market', 'Product.ID', 'Category', 'Sub.Category',
       'Product.Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping.Cost', 'Order.Priority', 'Returned', 'Order ID', 'Region_y'],
      dtype='object')

In [88]:
cat_returns_2 = combined.groupby(['Category', 'Sub.Category'])['Order.ID', 'Returned'].agg('count')
cat_returns_2['ratio'] = (cat_returns_2['Returned'] / cat_returns_2['Order.ID'])
cat_returns_2.sort_values('ratio', ascending = False)

<ipython-input-88-4f43933841cd>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cat_returns_2 = combined.groupby(['Category', 'Sub.Category'])['Order.ID', 'Returned'].agg('count')

                              Order.ID  Returned     ratio
Category        Sub.Category
Office Supplies Labels            2601       137  0.052672
Furniture       Tables             861        41  0.047619
Technology      Accessories       3075       138  0.044878
Office Supplies Art               4864       217  0.044613
Technology      Copiers           2223        99  0.044534
Office Supplies Binders           6146       269  0.043768
Technology      Phones            3357       145  0.043193
Furniture       Bookcases         2411       104  0.043136
Office Supplies Paper             3492       150  0.042955
Furniture       Chairs            3434       147  0.042807
                Furnishings       3154       135  0.042803
Office Supplies Supplies          2407       103  0.042792
Technology      Machines          1486        63  0.042396
Office Supplies Storage           5049       212  0.041989
                Envelopes         2387        99  0.041475
                Fasteners         2601       102  0.039216
                Appliances        1742        59  0.033869

# Part II 
# Problem 4
## Part 1

In [82]:
combined

,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,State,...,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority,Returned,Order ID,Region_y
0,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,...,Samsung Convoy 3,221.98,2,0.0,62.15,40.770,High,NaN,NaN,NaN
1,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,...,"Novimex Executive Leather Armchair, Black",3709.40,9,0.1,-288.77,923.630,Critical,NaN,NaN,NaN
2,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,...,"Nokia Smart Phone, with Caller ID",5175.17,9,0.1,919.97,915.490,Medium,NaN,NaN,NaN
3,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,...,"Motorola Smart Phone, Cordless",2892.51,5,0.1,-96.54,910.160,Medium,NaN,NaN,NaN
4,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,...,"Sharp Wireless Fax, High-Speed",2832.96,8,0.0,311.52,903.040,Critical,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,IN-2015-KE1642066-42174,6/19/15,6/19/15,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,...,"Advantus Thumb Tacks, 12 Pack",65.10,5,0.0,4.50,1.010,Medium,NaN,NaN,NaN
51286,US-2014-ZD21925140-41765,5/6/14,5/10/14,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,...,"Eldon Image Series Desk Accessories, Burgundy",16.72,5,0.2,3.34,1.930,High,NaN,NaN,NaN
51287,CA-2012-ZD21925140-41147,8/26/12,8/31/12,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,...,Newell 341,8.56,2,0.0,2.48,1.580,High,NaN,NaN,NaN
51288,MX-2013-RB1979518-41322,2/17/13,2/21/13,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,...,"Acco Index Tab, Economy",13.44,2,0.0,2.40,1.003,Medium,NaN,NaN,NaN
51289,MX-2013-MC1810093-41416,5/22/13,5/26/13,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,...,"Eaton Computer Printout Paper, 8.5 x 11",61.38,3,0.0,1.80,1.002,High,NaN,NaN,NaN

In [89]:
def f(row):
    if combined.Returned.isnull():
        val = 0
    else:
        val = 1
    return val

In [90]:
combined['target'] = combined.apply(f, axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().